<div class="background">
  <div class="circle"></div>

  <div class="main">
    <div class="profile">
      <div class="photo">
        <img src="../../../assets/yo.jpg" />
      </div>

      <div class="info">
        <div class="info-item">
          <p>Full name:</p>
          <h4>{{ getName() }}</h4>
        </div>
        <div class="info-item">
          <p>Age:</p>
          <h4>{{ getAge() }}</h4>
        </div>
        <div class="info-item">
          <p>Country:</p>
          <h4>{{ getCountry() }}</h4>
        </div>
      </div>
    </div>

    <div class="skills">
      <h1>My skills...</h1>

      <div class="cards">
        <div class="skill">
          <div class="logo-container">
            <div class="logo" id="js-logo">
              <p>JS</p>
            </div>
          </div>
          <p>Javascript</p>
        </div>

        <div class="skill">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/html-logo.webp" />
            </div>
          </div>
          <p>Html</p>
        </div>
        <div class="skill">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/css-logo.webp" />
            </div>
          </div>
          <p>CSS</p>
        </div>
        <div class="skill">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/python-logo.png" />
            </div>
          </div>
          <p>Python</p>
        </div>
        <div class="skill">
          <div class="logo-container" id="bad-size">
            <div class="logo">
              <img src="../../../assets/angular-logo.png" />
            </div>
          </div>
          <p>Angular</p>
        </div>
        <div class="skill" id="bad-size">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/nodejs-logo.png" />
            </div>
          </div>
          <p>Node.js</p>
        </div>
        <div class="skill">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/mysql-logo.png" />
            </div>
          </div>
          <p>MySQL</p>
        </div>
        <div class="skill">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/laravel-logo.png" />
            </div>
          </div>
          <p>Laravel</p>
        </div>
        <div class="skill">
          <div class="logo-container">
            <div class="logo" id="java-container">
              <img src="../../../assets/Java-logo.png" id="java-image" />
            </div>
          </div>
          <p>Java</p>
        </div>
        <div class="skill">
          <div class="logo-container">
            <div class="logo">
              <img src="../../../assets/c++-logo.png" />
            </div>
          </div>
          <p>C/C++</p>
        </div>
      </div>
    </div>
  </div>
</div>
