header {
  /*
  background: linear-gradient(to left top, rgba(44, 111, 202, 0.3), rgba(161, 51, 212, 0.6));
  */
  background: #1c1c1c;
  border-radius: 5px;
  max-height: 80px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header .logo {
  float: left;
  width: 90px;
  height: 90px;
  margin-left: 50px;
}

header nav {
  float: right;
  margin: 25px 70px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-left: 70px;
}

header nav ul li a {
  color: #f7f6f6;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: rgb(161, 51, 212);
  transition: all ease-in-out 250ms;
}
